#title{text-align:center;}
h2,h3,pre{font-family: "楷体","楷体_GB2312","Microsoft YaHei",微软雅黑;}
h1,h4{"Microsoft YaHei",微软雅黑;}
h2{font-size: 32px;}
h3{font-size: 24px;}
h4,pre{font-size: 18px;}
a{text-decoration:none}